/*
Sabi. Simple Lightweight, but Not Beautiful
https://github.com/sabi

Theme: magi-darktmode-default.css
Version: 2
*/

#background {
        background-color: #353535;
        color: white;
        margin: auto;
        max-width: 800px;
}

.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
        height: 200px;
        overflow: hidden;
        display: table;
}

.gallery:hover {
        border: 1px solid #777;
}

.gallery img {
        max-width: 100%;
        max-height: 200px;
        display: block;
        top: 50%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
}

.galleryVideo {
        max-width: 180px;
        width: auto;
}

.caption {
        display: block;
        text-align: center;
        font-weight: bold;
}

.wrapper {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
}
